.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  margin: 0 auto;
  width: 100%;
}

.image-gallery__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
}

.image-gallery__item {
  flex: 1 1 calc(25% - 15px);
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .image-gallery__item {
    flex: 1 1 calc(50% - 15px);
  }
}

@media (max-width: 480px) {
  .image-gallery__item {
    flex: 1 1 100%;
  }
}
